[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "==4.8.0"
gunicorn = "==19.9.0"
line-bot-sdk = "==1.13.0"
requests = ">=2.20.0"
Flask = ">=1.0.0"
numpy = ">=1.17.4"
Keras-Preprocessing = ">=1.1.0"
Keras = "==2.2.4"
Keras-Applications = ">=1.0.8"
tensorflow = "==1.14.0"
Pillow = ">=6.21"
opencv-python = ">=3.4.0.18"
path = "==13.1.0"

[requires]
python_version = "3.6.8"
